:root{

--fs-display:48px;

--fs-h1:36px;

--fs-h2:28px;

--fs-h3:22px;

--fs-body:15px;

--fs-small:13px;

--fs-caption:12px;

--fw-regular:400;

--fw-medium:500;

--fw-semibold:600;

--fw-bold:700;

}